.clients {
  width: 100%;
  @include centerer();

  &__note {
    @extend %note;
  }

  &__image {
    width: 30%;
    margin-bottom: rem-calc(40);
    @extend %note__image;

    &--radius {
      border-radius: 100%;
    }

    @include breakpoint(md){
      margin: rem-calc(0 68 0 20);
    }

    @include breakpoint(lg){
      margin: rem-calc(0 68 0 20);
      width: auto;
    }
  }

  &__info {
    padding: rem-calc(50 30 23);
    margin: rem-calc(0 10 10);
    @extend %note__info;

    &:before {
      content: '';
      top:-26px;
      left: auto;
      @include arrow("up", $white, 27);
      @include centerer($horizontal:true, $vertical:false);  
      
      @include breakpoint(md){
        top:0;
        left: -63px;
        @include arrow("left", $white, 36);
        @include centerer($horizontal:false, $vertical:true);  
      }
    }

    @include breakpoint(md){
      width: rem-calc(595);
      margin: rem-calc(0 20 0 0);
    }
  }

  &__title {
    font-size: rem-calc(19);
    margin-bottom: rem-calc(18);
    
    @include breakpoint(lg){
      font-size: rem-calc(21);
    }
  }

  &__desc {
    color: $grey;
    margin-bottom: rem-calc(22);
    line-height: rem-calc(17);
    @extend %size-small;
  }

  &__author:link {
    color: $primary-color;
  }

  &__job {
    margin-top: rem-calc(13);
    color: $grey;
    @extend %note__job;
    @extend %size-small;
  }
}