// Colors (http://chir.ag/projects/name-that-color)
$corn:      #ecc707;
$white:     #fff;
$grey:      #9e9e9e;

// Typography
$font-base: 'Lobster Two', cursive !default;

// Project Colors
$primary-color: #000;

// Base Font for HTML
$rem-base: 10px !default;

// Grid
$maxWidth: 1440px;
$grid-columns: 12 !default;